html {
    background-color: #98FBCB;
    color: white;
    height: 100%;

    /* background-image:linear-gradient(45deg, black,grey) ; */
}

.arrow {
    height: 100%;
    width: auto;
}

.image {
    max-height: 30%;
    max-width: 30%;
    margin: 0 40%;
    box-sizing: border-box;
}

#chatwindow {
    /* background-image: linear-gradient(rgb(100, 14, 14),rgb(127, 18, 18)); */
    background-color: #BFFFED;
    margin: auto;
    height: 60vh;
    width: 80vw;
    border: 5px solid black;
    margin-top: 50px;
    margin-bottom: 3px;
    gap: 10px;
    overflow-y: auto;


}

.msg {
    background-color: navy;
    margin: 3px 10px;
    margin-bottom: 5px;
    min-height: 5%;
    padding: 10px;
    max-width: 60%;
    color: white;
    overflow-wrap: break-word;
}

.left {
    float: left;
    clear: both;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;



}

.right {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: right;
    clear: both;
}

.alert {
    margin: 5px auto;
    clear: both;
    max-height: 20%;
    max-width: 30%;
    border-radius: 40px;
    text-align: center;
    background-color: grey;
}

.inputsection {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 80vw;
    flex-wrap: nowrap;
    border: 3px solid black;
    box-sizing: border-box;
}

#myMsg {

    width: 75%;
    flex-grow: 1;
    font-size: larger;
}

#sendBtn {
    height: 100%;
        aspect-ratio: 1;
        margin: 0;

}

@media (max-width: 320px) {
    .inputsection {
        flex-direction: row;
        height: 8vh;
        border: 3px solid black;
        box-sizing: border-box;
    }

    #myMsg {

        width: 75%;
        font-size: larger;
    }

    #sendBtn {

        height: 100%;
        aspect-ratio: 1;
        margin: 0;
        /* font-family: 'Times New Roman', Times, serif;
        font-size: 2em; */
    }

    .arrow {
        height: auto;
        width: 100%;
        ;
    }

}